<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.twopillar.dao.planInfoMapper" >
  <resultMap id="BaseResultMap" type="com.twopillar.entity.planInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_info_id" property="userInfoId" jdbcType="INTEGER" />
    <result column="plan_name" property="planName" jdbcType="VARCHAR" />
    <result column="current_day" property="currentDay" jdbcType="INTEGER" />
    <result column="start" property="start" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_info_id, plan_name, current_day, start
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from plan_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from plan_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.twopillar.entity.planInfo" >
    insert into plan_info (id, user_info_id, plan_name, 
      current_day, start)
    values (#{id,jdbcType=INTEGER}, #{userInfoId,jdbcType=INTEGER}, #{planName,jdbcType=VARCHAR}, 
      #{currentDay,jdbcType=INTEGER}, #{start,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.twopillar.entity.planInfo" >
    insert into plan_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userInfoId != null" >
        user_info_id,
      </if>
      <if test="planName != null" >
        plan_name,
      </if>
      <if test="currentDay != null" >
        current_day,
      </if>
      <if test="start != null" >
        start,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userInfoId != null" >
        #{userInfoId,jdbcType=INTEGER},
      </if>
      <if test="planName != null" >
        #{planName,jdbcType=VARCHAR},
      </if>
      <if test="currentDay != null" >
        #{currentDay,jdbcType=INTEGER},
      </if>
      <if test="start != null" >
        #{start,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.twopillar.entity.planInfo" >
    update plan_info
    <set >
      <if test="userInfoId != null" >
        user_info_id = #{userInfoId,jdbcType=INTEGER},
      </if>
      <if test="planName != null" >
        plan_name = #{planName,jdbcType=VARCHAR},
      </if>
      <if test="currentDay != null" >
        current_day = #{currentDay,jdbcType=INTEGER},
      </if>
      <if test="start != null" >
        start = #{start,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.twopillar.entity.planInfo" >
    update plan_info
    set user_info_id = #{userInfoId,jdbcType=INTEGER},
      plan_name = #{planName,jdbcType=VARCHAR},
      current_day = #{currentDay,jdbcType=INTEGER},
      start = #{start,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>